{% set readable_fields = fields | selectattr("is_sw_readable") | list -%}
{% set writable_fields = fields | selectattr("is_sw_writable") | list -%}
{% set readable_mems = mems | selectattr("is_sw_readable") | list -%}
{% set writable_mems = mems | selectattr("is_sw_writable") | list -%}
// File: {{ top_name }}_regs.v
// Brief: Register block generate for {{ top_name }}
`timescale 1 ns / 1 ps
//
`default_nettype none

module {{ top_name }}_regs (
    input  wire        s_axi_aclk,
    input  wire        s_axi_aresetn,
    //
    input  wire [{{ '{:2d}'.format(addr_width-1) }}:0] s_axi_awaddr,
    input  wire [ 2:0] s_axi_awprot,
    input  wire        s_axi_awvalid,
    output wire        s_axi_awready,
    //
    input  wire [{{ '{:2d}'.format(data_width-1) }}:0] s_axi_wdata,
    input  wire [{{ '{:2.0f}'.format(data_width/8-1) }}:0] s_axi_wstrb,
    input  wire        s_axi_wvalid,
    output wire        s_axi_wready,
    //
    output wire [ 1:0] s_axi_bresp,
    output wire        s_axi_bvalid,
    input  wire        s_axi_bready,
    //
    input  wire [{{ '{:2d}'.format(addr_width-1) }}:0] s_axi_araddr,
    input  wire [ 2:0] s_axi_arprot,
    input  wire        s_axi_arvalid,
    output wire        s_axi_arready,
    //
    output wire [{{ '{:2d}'.format(data_width-1) }}:0] s_axi_rdata,
    output wire [ 1:0] s_axi_rresp,
    output wire        s_axi_rvalid,
    input  wire        s_axi_rready
    {%- for field in fields %}
        {%- if field.is_hw_readable or field.is_hw_writable -%}
    ,
    // {{ field.hierarchy }}
            {%- if field.is_hw_writable -%}
    ,
    input  wire [{{ '{:2d}'.format(field.width-1) }}:0] {{ field.name }}_in
            {%- endif %}
            {%- if field.is_hw_readable -%}
    ,
    output wire [{{ '{:2d}'.format(field.width-1) }}:0] {{ field.name }}_out
            {%- endif %}
        {%- endif %}
    {%- endfor %}
    {%- for mem in mems -%}
    ,
    // {{ mem.hierarchy }},
    output wire [{{ '{:2d}'.format(mem.addr_width-1) }}:0] {{ mem.name }}_addr,
    output wire        {{ mem.name }}_en,
    output wire        {{ mem.name }}_we,
    output wire [{{ '{:2d}'.format(mem.width-1) }}:0] {{ mem.name }}_din,
    output wire [{{ '{:2.0f}'.format(data_width/8-1) }}:0] {{ mem.name }}_be,
    input  wire [{{ '{:2d}'.format(mem.width-1) }}:0] {{ mem.name }}_dout,
    input  wire        {{ mem.name }}_valid
    {%- endfor %}
);

    localparam integer ADDR_WIDTH = {{ addr_width }};
    localparam integer DATA_WIDTH = {{ data_width }};
    localparam integer STRB_WIDTH = DATA_WIDTH / 8;
    localparam integer TARGET_COUNT = {{ mems | length + 1 }};


    //--------------------------------------------------------------------------
    // Internal bus and response state
    //--------------------------------------------------------------------------

    reg                     int_valid;
    reg                     int_write;
    reg  [  ADDR_WIDTH-1:0] int_addr;
    wire                    int_issue;
    wire                    int_idle;
    wire [TARGET_COUNT-1:0] int_target;
    reg  [TARGET_COUNT-1:0] int_active_target;

    wire                    int_wr_en;
    reg  [  DATA_WIDTH-1:0] int_wr_data;
    reg  [  STRB_WIDTH-1:0] int_wr_strb;
    wire                    int_wr_ack;
    wire                    int_wr_err;

    wire                    int_rd_en;
    reg  [  DATA_WIDTH-1:0] int_rd_data;
    wire                    int_rd_ack;
    wire                    int_rd_err;

    reg  [             1:0] b_outstanding;
    reg  [             1:0] b_wait_ack;
    reg  [             1:0] b_fifo_count;
    reg  [             1:0] b_err_fifo;
    wire                    b_fifo_idx;
    wire                    b_ack_fire;
    wire                    b_credit;

    reg  [             1:0] r_outstanding;
    reg  [             1:0] r_wait_ack;
    reg  [             1:0] r_fifo_count;
    reg  [2*DATA_WIDTH-1:0] r_data_fifo;
    reg  [             1:0] r_err_fifo;
    wire                    r_fifo_idx;
    wire                    r_ack_fire;
    wire                    r_credit;

    // Empty tags do not imply idle: registered ACKs may still await capture.
    assign int_idle  = (b_wait_ack == 2'd0) && (r_wait_ack == 2'd0);
    assign int_issue = int_valid && (int_idle || (int_target == int_active_target)) &&
                       (int_write ? b_credit : r_credit);
    assign int_wr_en = int_issue && int_write;
    assign int_rd_en = int_issue && !int_write;

    always @(posedge s_axi_aclk) begin
        if (!s_axi_aresetn) begin
            int_active_target <= {{ mems | length + 1 }}'d1;
        end else if (int_issue && int_idle) begin
            int_active_target <= int_target;
        end
    end


    //--------------------------------------------------------------------------
    // Request buffers and arbitration
    //--------------------------------------------------------------------------

    reg                   ar_back_valid;
    reg  [ADDR_WIDTH-1:0] ar_back_addr;
    wire                  ar_load_back;
    wire                  ar_load_direct;

    reg                   aw_back_valid;
    reg  [ADDR_WIDTH-1:0] aw_back_addr;

    reg                   w_back_valid;
    reg  [DATA_WIDTH-1:0] w_back_data;
    reg  [STRB_WIDTH-1:0] w_back_strb;

    reg                   arb_read_priority;
    wire                  arb_ready;
    wire                  arb_read_eligible;
    wire                  arb_write_eligible;
    wire                  arb_grant_read;
    wire                  arb_grant_write;

    assign arb_ready          = !int_valid || int_issue;
    assign arb_read_eligible  = (ar_back_valid || s_axi_arvalid) && r_credit;
    assign arb_write_eligible = aw_back_valid && w_back_valid && b_credit;
    assign arb_grant_read     = arb_ready && arb_read_eligible && (!arb_write_eligible || arb_read_priority);
    assign arb_grant_write    = arb_ready && arb_write_eligible && (!arb_read_eligible || !arb_read_priority);

    assign ar_load_back   = arb_grant_read && ar_back_valid;
    assign ar_load_direct = arb_grant_read && !ar_back_valid && s_axi_arvalid;

    assign s_axi_arready = !ar_back_valid || ar_load_back;
    assign s_axi_awready = !aw_back_valid || arb_grant_write;
    assign s_axi_wready  = !w_back_valid || arb_grant_write;

    always @(posedge s_axi_aclk) begin
        if (!s_axi_aresetn) begin
            arb_read_priority <= 1'b1;
        end else if (arb_grant_read) begin
            arb_read_priority <= 1'b0;
        end else if (arb_grant_write) begin
            arb_read_priority <= 1'b1;
        end
    end

    always @(posedge s_axi_aclk) begin
        if (!s_axi_aresetn) begin
            int_valid     <= 1'b0;
            int_write     <= 1'b0;
            int_addr      <= {ADDR_WIDTH{1'b0}};
            int_wr_data   <= {DATA_WIDTH{1'b0}};
            int_wr_strb   <= {STRB_WIDTH{1'b0}};
            ar_back_valid <= 1'b0;
            ar_back_addr  <= {ADDR_WIDTH{1'b0}};
            aw_back_valid <= 1'b0;
            aw_back_addr  <= {ADDR_WIDTH{1'b0}};
            w_back_valid  <= 1'b0;
            w_back_data   <= {DATA_WIDTH{1'b0}};
            w_back_strb   <= {STRB_WIDTH{1'b0}};
        end else begin
            if (ar_load_back) begin
                int_valid   <= 1'b1;
                int_write   <= 1'b0;
                int_addr    <= ar_back_addr;
            end else if (ar_load_direct) begin
                int_valid   <= 1'b1;
                int_write   <= 1'b0;
                int_addr    <= s_axi_araddr;
            end else if (arb_grant_write) begin
                int_valid   <= 1'b1;
                int_write   <= 1'b1;
                int_addr    <= aw_back_addr;
                int_wr_data <= w_back_data;
                int_wr_strb <= w_back_strb;
            end else if (int_issue) begin
                int_valid <= 1'b0;
            end

            if (s_axi_arvalid && s_axi_arready && !ar_load_direct) begin
                ar_back_valid <= 1'b1;
                ar_back_addr  <= s_axi_araddr;
            end else if (ar_load_back) begin
                ar_back_valid <= 1'b0;
            end

            if (s_axi_awvalid && s_axi_awready) begin
                aw_back_valid <= 1'b1;
                aw_back_addr  <= s_axi_awaddr;
            end else if (arb_grant_write) begin
                aw_back_valid <= 1'b0;
            end

            if (s_axi_wvalid && s_axi_wready) begin
                w_back_valid <= 1'b1;
                w_back_data  <= s_axi_wdata;
                w_back_strb  <= s_axi_wstrb;
            end else if (arb_grant_write) begin
                w_back_valid <= 1'b0;
            end
        end
    end


    //--------------------------------------------------------------------------
    // Write responses
    //--------------------------------------------------------------------------

    assign b_ack_fire = int_wr_ack && (b_wait_ack != 2'd0);
    assign b_credit   = (b_outstanding != 2'd2) || (s_axi_bvalid && s_axi_bready);
    assign b_fifo_idx = b_fifo_count[0] - 1'b1;

    assign s_axi_bvalid = b_fifo_count != 2'd0;
    assign s_axi_bresp  = b_err_fifo[b_fifo_idx] ? 2'b10 : 2'b00;

    // Reset occupancy only: SRL storage has no reset port.
    always @(posedge s_axi_aclk) begin
        if (s_axi_aresetn && b_ack_fire) begin
            b_err_fifo <= {b_err_fifo[0], int_wr_err};
        end
    end

    always @(posedge s_axi_aclk) begin
        if (!s_axi_aresetn) begin
            b_outstanding <= 2'd0;
            b_wait_ack    <= 2'd0;
            b_fifo_count  <= 2'd0;
        end else begin
            case ({int_wr_en, (s_axi_bvalid && s_axi_bready)})
                2'b10:   b_outstanding <= b_outstanding + 2'd1;
                2'b01:   b_outstanding <= b_outstanding - 2'd1;
                default: b_outstanding <= b_outstanding;
            endcase

            case ({int_wr_en, b_ack_fire})
                2'b10:   b_wait_ack <= b_wait_ack + 2'd1;
                2'b01:   b_wait_ack <= b_wait_ack - 2'd1;
                default: b_wait_ack <= b_wait_ack;
            endcase

            case ({b_ack_fire, (s_axi_bvalid && s_axi_bready)})
                2'b10:   b_fifo_count <= b_fifo_count + 2'd1;
                2'b01:   b_fifo_count <= b_fifo_count - 2'd1;
                default: b_fifo_count <= b_fifo_count;
            endcase
        end
    end


    //--------------------------------------------------------------------------
    // Read responses
    //--------------------------------------------------------------------------

    assign r_ack_fire = int_rd_ack && (r_wait_ack != 2'd0);
    assign r_credit   = (r_outstanding != 2'd2) || (s_axi_rvalid && s_axi_rready);
    assign r_fifo_idx = r_fifo_count[0] - 1'b1;

    assign s_axi_rvalid = r_fifo_count != 2'd0;
    assign s_axi_rresp  = r_err_fifo[r_fifo_idx] ? 2'b10 : 2'b00;

    // Expose each bit's variable tap for SRL extraction.
    genvar r_data_bit;
    generate
        for (r_data_bit = 0; r_data_bit < DATA_WIDTH; r_data_bit = r_data_bit + 1) begin : gen_r_data_fifo
            wire [1:0] stages;
            assign stages = {r_data_fifo[DATA_WIDTH+r_data_bit], r_data_fifo[r_data_bit]};
            assign s_axi_rdata[r_data_bit] = stages[r_fifo_idx];
        end
    endgenerate

    always @(posedge s_axi_aclk) begin
        if (s_axi_aresetn && r_ack_fire) begin
            r_data_fifo <= {r_data_fifo[DATA_WIDTH-1:0], int_rd_data};
            r_err_fifo  <= {r_err_fifo[0], int_rd_err};
        end
    end

    always @(posedge s_axi_aclk) begin
        if (!s_axi_aresetn) begin
            r_outstanding <= 2'd0;
            r_wait_ack    <= 2'd0;
            r_fifo_count  <= 2'd0;
        end else begin
            case ({int_rd_en, (s_axi_rvalid && s_axi_rready)})
                2'b10:   r_outstanding <= r_outstanding + 2'd1;
                2'b01:   r_outstanding <= r_outstanding - 2'd1;
                default: r_outstanding <= r_outstanding;
            endcase

            case ({int_rd_en, r_ack_fire})
                2'b10:   r_wait_ack <= r_wait_ack + 2'd1;
                2'b01:   r_wait_ack <= r_wait_ack - 2'd1;
                default: r_wait_ack <= r_wait_ack;
            endcase

            case ({r_ack_fire, (s_axi_rvalid && s_axi_rready)})
                2'b10:   r_fifo_count <= r_fifo_count + 2'd1;
                2'b01:   r_fifo_count <= r_fifo_count - 2'd1;
                default: r_fifo_count <= r_fifo_count;
            endcase
        end
    end


    //--------------------------------------------------------------------------
    // Address decoder
    //--------------------------------------------------------------------------
    {%- for field in fields %}

    wire {{ field.name }}_sel;

    {%- if addr_width > addr_width_lsb %}

    assign {{ field.name }}_sel = (int_addr[{{ addr_width-1 }}:{{ addr_width_lsb }}] == 'h{{ '{:x}'.format(field.aligned_address) }});
    {%- else %}

    assign {{ field.name }}_sel = (int_addr == {{ addr_width }}'h{{ '{:x}'.format(field.address) }});
    {%- endif %}
    {%- endfor %}
    {%- for mem in mems %}

    wire {{ mem.name }}_sel;

    {%- if mem.address == 0 %}

    assign {{ mem.name }}_sel = ({1'b0, int_addr} < {{ addr_width + 1 }}'h{{ '{:x}'.format(mem.address + mem.size) }});
    {%- else %}

    assign {{ mem.name }}_sel = (({1'b0, int_addr} >= {{ addr_width + 1 }}'h{{ '{:x}'.format(mem.address) }}) && ({1'b0, int_addr} < {{ addr_width + 1 }}'h{{ '{:x}'.format(mem.address + mem.size) }}));
    {%- endif %}
    {%- endfor %}

    // Targets

    {%- for mem in mems %}

    wire {{ mem.name }}_target;

    assign {{ mem.name }}_target = {{ mem.name }}_sel &&
        ((int_write && {{ "1'b1" if mem.is_sw_writable else "1'b0" }} && (|int_wr_strb)) ||
         (!int_write && {{ "1'b1" if mem.is_sw_readable else "1'b0" }}));
    {%- endfor %}

    assign int_target = {
        {%- for mem in mems | reverse %}
        {{ mem.name }}_target,
        {%- endfor %}
        !(1'b0{% for mem in mems %} || {{ mem.name }}_target{% endfor %})
    };


    //--------------------------------------------------------------------------
    // Field logic
    //--------------------------------------------------------------------------

    wire [DATA_WIDTH-1:0] sw_byte_mask;

    genvar sw_byte_idx;
    generate
        for (sw_byte_idx = 0; sw_byte_idx < STRB_WIDTH; sw_byte_idx = sw_byte_idx + 1) begin : gen_sw_byte_mask
            assign sw_byte_mask[sw_byte_idx*8 +: 8] = {8{int_wr_strb[sw_byte_idx]}};
        end
    endgenerate
    {%- for field in fields %}

    // Field {{ field.hierarchy }} @'h{{ '{:x}'.format(field.address) }}[{{ field.msb }}:{{ field.lsb }}]

    reg  [{{ field.width-1 }}:0] {{ field.name }}_value;
    {%- if field.implements_storage and field.is_sw_writable %}
    wire [{{ field.width-1 }}:0] {{ field.name }}_sw_mask;

    assign {{ field.name }}_sw_mask = sw_byte_mask[{{ field.msb }}:{{ field.lsb }}];
    {%- endif %}
    {%- if field.implements_storage %}

    always @(posedge s_axi_aclk) begin
        if (!s_axi_aresetn) begin
            {{ field.name }}_value <= 'h{{ '{:x}'.format(field.reset) }};
        {%- if field.is_sw_writable %}
        end else if (int_wr_en && {{ field.name }}_sel) begin
            {%- if field.is_hw_writable %}
            {{ field.name }}_value <= ({{ field.name }}_in & ~{{ field.name }}_sw_mask) | (int_wr_data[{{ field.msb }}:{{ field.lsb }}] & {{ field.name }}_sw_mask);
            {%- else %}
            {{ field.name }}_value <= ({{ field.name }}_value & ~{{ field.name }}_sw_mask) | (int_wr_data[{{ field.msb }}:{{ field.lsb }}] & {{ field.name }}_sw_mask);
            {%- endif %}
        {%- endif %}
        {%- if field.is_hw_writable %}
        end else begin
            {{ field.name }}_value <= {{ field.name }}_in;
        {%- endif %}
        end
    end

    {%- elif field.is_hw_writable %}

    always @(*) begin
        {{ field.name }}_value = {{ field.name }}_in;
    end
    {%- else %}

    initial begin
        {{ field.name }}_value = 'h{{ '{:x}'.format(field.reset) }};
    end
    {%- endif %}

    {%- if field.is_hw_readable %}

    assign {{ field.name }}_out = {{ field.name }}_value;
    {%- endif %}
    {%- endfor %}


    //--------------------------------------------------------------------------
    // Memory adapters
    //--------------------------------------------------------------------------
    {%- if mems %}

    // Every en requires one in-order valid response, including writes.
    {%- endif %}
    {%- for mem in mems %}

    // Memory {{ mem.hierarchy }} @'h{{ '{:x}'.format(mem.address) }}

    wire [ADDR_WIDTH-1:0] {{ mem.name }}_byte_offset;

    reg  [ 3:0] {{ mem.name }}_tag_fifo;
    reg  [ 2:0] {{ mem.name }}_tag_fifo_count;
    wire [ 1:0] {{ mem.name }}_tag_fifo_idx;
    wire        {{ mem.name }}_tag_empty;
    wire        {{ mem.name }}_tag_bypass;
    wire        {{ mem.name }}_tag_push;
    wire        {{ mem.name }}_tag_pop;

    wire        {{ mem.name }}_response;
    wire        {{ mem.name }}_response_we;

    wire        {{ mem.name }}_rd_done;
    reg         {{ mem.name }}_rd_ack;
    reg  [{{ '{:2d}'.format(mem.width-1) }}:0] {{ mem.name }}_rd_data;

    wire        {{ mem.name }}_wr_done;
    reg         {{ mem.name }}_wr_ack;

    assign {{ mem.name }}_byte_offset = int_addr - {{ addr_width }}'h{{ '{:x}'.format(mem.address) }};
    assign {{ mem.name }}_addr = {{ mem.name }}_byte_offset[{{ mem.addr_msb }}:{{ mem.addr_lsb }}];
    assign {{ mem.name }}_en   = int_issue && int_target[{{ loop.index }}];
    assign {{ mem.name }}_we   = {{ mem.name }}_en && int_write;
    assign {{ mem.name }}_din  = int_wr_data[{{ mem.width-1 }}:0];
    assign {{ mem.name }}_be   = {{ mem.name }}_we ? int_wr_strb : {STRB_WIDTH{1'b0}};

    assign {{ mem.name }}_tag_fifo_idx = {{ mem.name }}_tag_fifo_count[1:0] - 2'd1;
    assign {{ mem.name }}_tag_empty    = {{ mem.name }}_tag_fifo_count == 3'd0;
    assign {{ mem.name }}_tag_bypass   = {{ mem.name }}_tag_empty && {{ mem.name }}_en && {{ mem.name }}_valid;
    assign {{ mem.name }}_tag_push     = {{ mem.name }}_en && !{{ mem.name }}_tag_bypass;
    assign {{ mem.name }}_tag_pop      = !{{ mem.name }}_tag_empty && {{ mem.name }}_valid;
    assign {{ mem.name }}_response    = {{ mem.name }}_valid && (!{{ mem.name }}_tag_empty || {{ mem.name }}_en);
    assign {{ mem.name }}_response_we = {{ mem.name }}_tag_empty ? {{ mem.name }}_we : {{ mem.name }}_tag_fifo[{{ mem.name }}_tag_fifo_idx];
    assign {{ mem.name }}_rd_done     = {{ mem.name }}_response && !{{ mem.name }}_response_we;
    assign {{ mem.name }}_wr_done     = {{ mem.name }}_response && {{ mem.name }}_response_we;

    always @(posedge s_axi_aclk) begin
        if (s_axi_aresetn && {{ mem.name }}_tag_push) begin
            {{ mem.name }}_tag_fifo <= { {{ mem.name }}_tag_fifo[2:0], {{ mem.name }}_we };
        end
    end

    always @(posedge s_axi_aclk) begin
        if (!s_axi_aresetn) begin
            {{ mem.name }}_tag_fifo_count <= 3'd0;
            {{ mem.name }}_rd_ack         <= 1'b0;
            {{ mem.name }}_wr_ack         <= 1'b0;
            {{ mem.name }}_rd_data        <= {{ mem.width }}'d0;
        end else begin
            case ({ {{ mem.name }}_tag_push, {{ mem.name }}_tag_pop })
                2'b10: {{ mem.name }}_tag_fifo_count <= {{ mem.name }}_tag_fifo_count + 3'd1;
                2'b01: {{ mem.name }}_tag_fifo_count <= {{ mem.name }}_tag_fifo_count - 3'd1;
                default: {{ mem.name }}_tag_fifo_count <= {{ mem.name }}_tag_fifo_count;
            endcase

            {{ mem.name }}_rd_ack <= {{ mem.name }}_rd_done;
            {{ mem.name }}_wr_ack <= {{ mem.name }}_wr_done;
            if ({{ mem.name }}_rd_done) begin
                {{ mem.name }}_rd_data <= {{ mem.name }}_dout;
            end
        end
    end
    {%- endfor %}


    //--------------------------------------------------------------------------
    // Local responses
    //--------------------------------------------------------------------------

    wire                  local_wr_en;
    reg                   local_wr_ack;
    reg                   local_wr_err;
    wire                  local_wr_err_next;

    wire                  local_rd_en;
    reg                   local_rd_ack;
    reg                   local_rd_err;
    wire                  local_rd_err_next;
    reg  [DATA_WIDTH-1:0] local_rd_data;
    {%- if readable_fields %}
    reg  [DATA_WIDTH-1:0] local_rd_data_next;
    {%- else %}
    wire [DATA_WIDTH-1:0] local_rd_data_next;

    assign local_rd_data_next = {DATA_WIDTH{1'b0}};
    {%- endif %}

    assign local_wr_en = int_wr_en && int_target[0];
    assign local_rd_en = int_rd_en && int_target[0];

    assign local_wr_err_next = !(1'b0
        {%- for field in writable_fields %}
        || {{ field.name }}_sel
        {%- endfor %}
        {%- for mem in writable_mems %}
        || {{ mem.name }}_sel
        {%- endfor %}
    );

    assign local_rd_err_next = !(1'b0
        {%- for field in readable_fields %}
        || {{ field.name }}_sel
        {%- endfor %}
        {%- for mem in readable_mems %}
        || {{ mem.name }}_sel
        {%- endfor %}
    );

    {%- if readable_fields %}

    always @(*) begin
        local_rd_data_next = {DATA_WIDTH{1'b0}};
        {%- for field in readable_fields %}
        if ({{ field.name }}_sel) begin
            local_rd_data_next[{{ field.msb }}:{{ field.lsb }}] = local_rd_data_next[{{ field.msb }}:{{ field.lsb }}] | {{ field.name }}_value;
        end
        {%- endfor %}
    end
    {%- endif %}

    always @(posedge s_axi_aclk) begin
        if (!s_axi_aresetn) begin
            local_rd_ack  <= 1'b0;
            local_wr_ack  <= 1'b0;
            local_rd_err  <= 1'b0;
            local_wr_err  <= 1'b0;
            local_rd_data <= {DATA_WIDTH{1'b0}};
        end else begin
            local_rd_ack <= local_rd_en;
            local_wr_ack <= local_wr_en;
            if (local_rd_en) begin
                local_rd_err  <= local_rd_err_next;
                local_rd_data <= local_rd_data_next;
            end
            if (local_wr_en) begin
                local_wr_err <= local_wr_err_next;
            end
        end
    end


    //--------------------------------------------------------------------------
    // Response merge
    //--------------------------------------------------------------------------

    assign int_rd_ack = local_rd_ack{% for mem in mems %} || {{ mem.name }}_rd_ack{% endfor %};
    assign int_wr_ack = local_wr_ack{% for mem in mems %} || {{ mem.name }}_wr_ack{% endfor %};
    assign int_rd_err = local_rd_ack && local_rd_err;
    assign int_wr_err = local_wr_ack && local_wr_err;

    always @(*) begin
        int_rd_data = {DATA_WIDTH{1'b0}};
        if (local_rd_ack) begin
            int_rd_data = local_rd_data;
        end
        {%- for mem in mems %}
        if ({{ mem.name }}_rd_ack) begin
            int_rd_data[{{ mem.width-1 }}:0] = int_rd_data[{{ mem.width-1 }}:0] | {{ mem.name }}_rd_data;
        end
        {%- endfor %}
    end

endmodule

`default_nettype wire
