// C header generated for {{ top_name }}
// Field addresses, masks, and offsets describe aligned 32-bit MMIO words.
{%- for field in fields %}

/* {{ field.hierarchy }} */
/* Type: {{ field.sw }} */
#define {{ field.name|upper }}_ADDR 0x{{ '{:x}'.format(field.bus_address) }} /* {{ field.bus_address }} */
#define {{ field.name|upper }}_MASK 0x{{ '{:x}'.format(field.bus_mask) }} /* {{ field.bus_mask }} */
#define {{ field.name|upper }}_OFFSET 0x{{ '{:x}'.format(field.bus_low) }} /* {{ field.bus_low }} */
#define {{ field.name|upper }}_WIDTH 0x{{ '{:x}'.format(field.width) }} /* {{ field.width }} */
#define {{ field.name|upper }}_DEFAULT 0x{{ '{:x}'.format(field.reset) }} /* {{ field.reset }} */
{%- endfor %}

{%- for mem in mems %}

// {{ mem.hierarchy }}
#define {{ mem.name|upper }}_ADDR 0x{{ '{:x}'.format(mem.address) }} /* {{ mem.address }} */
#define {{ mem.name|upper }}_SIZE 0x{{ '{:x}'.format(mem.mementries * 4) }} /* {{ mem.mementries * 4 }} */
{%- endfor %}
